<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs 'n Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis maiores minus assumenda aut, ipsa aliquid?Z</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, earum nihil quidem dolore ipsa perspiciatis ullam totam velit! Accusantium, hic!</p>
    <a href="http://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>